@import "../variables.modules";

footer {
  color: $dark;
  transition: $transition;
}

.dark {
  background: linear-gradient(-45deg, #0a0a0a, #1a1a2e, #16213e, #0a0a0a);
  background-size: 400% 400%;
  animation: gradientShift 20s ease infinite;
  color: $white;
  transition: $transition-slow;
  position: relative;
  overflow-x: hidden;

  // Animated particles effect
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
      radial-gradient(circle at 20% 50%, rgba(141, 83, 255, 0.1) 0%, transparent 50%),
      radial-gradient(circle at 80% 80%, rgba(202, 107, 230, 0.1) 0%, transparent 50%),
      radial-gradient(circle at 40% 20%, rgba(0, 217, 255, 0.1) 0%, transparent 50%);
    animation: particleFloat 20s ease-in-out infinite;
    pointer-events: none;
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  a, i, li {
    color: $white;
    transition: $transition;
  }

  a:visited {
    color: $white;
  }

  a:hover {
    color: $cyan;
  }

  footer {
    color: $white;
    opacity: 0.8;
  }
}


@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes particleFloat {
  0%, 100% { 
    transform: translate(0, 0) scale(1);
    opacity: 0.5;
  }
  33% { 
    transform: translate(30px, -30px) scale(1.1);
    opacity: 0.7;
  }
  66% { 
    transform: translate(-20px, 20px) scale(0.9);
    opacity: 0.6;
  }
}


//.dark {
//  background-color: $dark;
//  color: $white;
//  transition: all 400ms;
//  a, i {
//    color: $white;
//    transition: color 400ms;
//  }
//  a:visited {
//    color: $white;
//  }
//  i:hover {
//    color: $purple;
//  }
//  footer {
//    color: $white;
//  }
//
//  nav {
//    background-color: $dark;
//    transition: $transition;
//  }
//
//  div > section > div:first-child {
//    background-color: #575e64;
//    i:first-child {
//      color: $red;
//    }
//    i:nth-child(2) {
//      color: $yellow;
//    }
//    i:nth-child(3) {
//      color: $green;
//    }
//  }
//
//
//  & > div div {
//    i {
//      color: white;
//    }
//  }
//}